#word2vecmodel
/Word2Vec/model/
/Word2Vec/model_py2_弃用
/Word2Vec/character_model/
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build


#word2vecmodel
*.model

#LSTM weights
*.hdf5

#embeddings
*.npy


#logs

logs
*.CURRY
*.GPU-server